USE [master]
GO
/****** Object:  Database [solution-db]    Script Date: 10/12/2020 19:02:21 ******/
CREATE DATABASE [solution-db] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [solution-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [solution-db]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/12/2020 19:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](150) NULL,
	[profile] [tinyint] NOT NULL,
	[active] [tinyint] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
